In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# delimiter => to say that its a tsv file
# quoting => its a code for double quotes("), which says ignore it, because anyways
# its not useful and may create some problems
df = pd.read_csv('Restaurant_Reviews.tsv', delimiter = '\t', quoting = 3)

In [3]:
df.head()

                                              Review  Liked
0                           Wow... Loved this place.      1
1                                 Crust is not good.      0
2          Not tasty and the texture was just nasty.      0
3  Stopped by during the late May bank holiday of...      1
4  The selection on the menu was great and so wer...      1

In [4]:
df.shape

(1000, 2)

In [5]:
# gives information only about the numeric columns in the dataframe
df.describe()

            Liked
count  1000.00000
mean      0.50000
std       0.50025
min       0.00000
25%       0.00000
50%       0.50000
75%       1.00000
max       1.00000

In [ ]:
# Cleaning text
import re